html {
  height: 100%;
  width: 100%;
}

body {
     background:#3CB371;
     color: #FFFF00;
     font: normal 15pt Candara;
   }

input {
			background-color: seagreen;
			color: seagreen; 
      color: white;
  }